version: '3.8'

services:
  dc-cb:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: discord-character-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./allowed-channels.txt:/allowed-channels.txt
      - ./systemprompt.txt:/systemprompt.txt


  ollama:
    image: ollama/ollama:latest
    container_name: ollama-dcb
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    env_file:
      - .env
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "ollama serve & 
       sleep 3 && 
       ollama pull ${OLLAMA_MODEL_NAME} &&
       wait"


volumes:
  ollama_data: